
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* This stops display of the tooltip when it is outside of the map container, which means the
   screen doesn't constantly flicker  */
#deckgl-wrapper {
	overflow: hidden
}

.stationList {
	width: 100%;
	font-size: small;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
